@value keyColor, colorDarkGrey, colorSkyBlue, colorBlue, colorRed, colorGrey from "../../common/color.css";

.container {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
}

.modal {
  position: absolute;
  right: -7%;
  top: 48%;
  width: 450px;
  height: 320px;
  background-color: white;
  border-radius: 6px;
  transform: translate(-50%, -50%);
  z-index: 100;
}

.close_btn {
  cursor: pointer;
  background-color: transparent;
  position: absolute;
  right: 0.7em;
  top: 1em;
}

.close_btn:hover {
  transform: scale(1.2);
  transition: 200ms ease-in-out;
}

.x {
  color: colorDarkGrey;
  width: 2em;
  height: 2em;
}

.bear_img {
  display: flex;
  justify-content: center;
  margin-top: 0.8em;
}

.bear {
  width: 13em;
}

.complete_title,
.delete_title {
  font-size: 1.4rem;
  font-weight: 700;
  margin-bottom: 0;
}

.complete_word,
.delete_word {
  font-size: 1.6rem;
  margin-left: 0.2em;
  margin-right: 0.2em;
}

.complete_title {
  margin-left: 3.8em;
  margin-top: 1em;
}

.delete_title {
  margin-left: 7.8em;
  margin-top: 0.5em;
}

.complete_word {
  color: colorBlue;
}

.delete_word {
  color: colorRed;
}

.warning {
  color: red;
  text-align: center;
  margin-top: 1.5em;
  font-weight: 600;
}

.btn_container {
  display: flex;
  justify-content: center;
}

.complete_btn,
.delete_btn {
  cursor: pointer;
  width: 7em;
  height: 2.5em;
  font-size: 1.2rem;
  border-radius: 10px;
}

.complete_btn {
  background-color: keyColor;
  margin-right: 1em;
}

.complete_btn:hover {
  background-color: colorSkyBlue;
  transition: 200ms ease-in-out;
}

.delete_btn:hover {
  background-color: colorGrey;
  transition: 200ms ease-in-out;
}
