@value colorBrown from "../../common/color.css";

.btn {
  cursor: pointer;
  background-color: transparent;
}

.add_icon {
  width: 5em;
  height: 5em;
  color: colorBrown;
}

.btn:hover {
  transform: scale(1.2);
  transition: 200ms ease-in-out;
}
