@value colorDarkGrey, keyColor, colorSkyBlue from "../../common/color.css";

button {
  outline: none;
  border: none;
}

.container {
  background-color: #fff6e0;
  height: 100vh;
}

.background {
  background-image: url("../../img/3tamp_bg.jpg");
  background-size: 1040px;
  background-repeat: no-repeat;
  position: relative;
  height: 620px;
  background-position: center;
  padding-top: 140px;
}

.start_btn {
  cursor: pointer;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  width: 20em;
  height: 2.5em;
  background-color: keyColor;
  font-size: 1.7rem;
  font-weight: 700;
  border-radius: 15px;
  color: colorDarkGrey;
}

.start_btn:hover {
  background-color: colorSkyBlue;
  transition: 200ms ease-in;
}
