@value keyColor, colorDarkGrey, googleColor from "../../common/color.css";

.login {
  background-color: keyColor;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: white;
  border-radius: 20px;
  width: 25em;
  height: 33em;
  text-align: center;
}

.close {
  cursor: pointer;
  background-color: transparent;
  margin-left: 24em;
  margin-top: 1.5em;
}

.close:hover {
  transform: scale(1.3);
  transition: 200ms ease-in;
}

.x {
  width: 2.5em;
  height: 2.5em;
  color: colorDarkGrey;
}

.message_box {
  margin-top: 1em;
  margin-bottom: 1em;
}

.whoops {
  font-size: 3rem;
  font-weight: 700;
  margin-right: 0.2em;
}

.message {
  font-size: 1.3rem;
  font-weight: 500;
}

.image_box {
  width: 14em;
  height: 14em;
  margin: 0 auto;
  margin-bottom: 1em;
}

.google {
  cursor: pointer;
  background-color: googleColor;
  color: white;
  border-radius: 10px;
  width: 20em;
  height: 2.5em;
  margin-top: 0.5em;
}

.google__icon {
  margin-right: 0.3em;
  transform: translateY(2px);
}
